{% extends "friendlib/base.html" %}
{% load i18n %}

{% block content %}
    <div class="span12 well">
        <div class="row-fluid">
            <div class="span12">
                <span class="lead">{{ media.title }}</span>

                {% include "friendlib/snippets/media_owner_badge.html" %}

                <span class="pull-right alert alert-info">
                    {{ media.borrowed_status }}
                </span>
                <hr>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                {{ media.html_thumbnail }}
            </div>
            <div class="span8">
                <div class="row-fluid">
                    <div class="span12">
                        {% block media_detail %}

                        {% endblock %}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <p class="pull-right">

                            {% if user.is_authenticated %}
                                {% if user == media.owner %}
                                    <a href="{{ media.get_delete_url }}" class="btn btn-danger">Delete</a>
                                    <a href="{{ media.get_update_url }}" class="btn btn-warning">Edit</a>
                                {% endif %}

                                {% if user != media.owner %}
                                    <a href="{% url mediarequest_create media.pk %}" class="btn btn-success">Request</a>
                                {% endif %}
                            {% else %}
                                <a href="#myModal" class="btn btn-success" data-toggle="modal">Request</a>

                                <!-- Modal -->
                                <div id="myModal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3 id="myModalLabel">Please register yourself !</h3>
                                    </div>
                                    <div class="modal-body">
                                        <p>You need to register to make a request. Currently, send a mail to admin@mediamis.org</p>
                                        <p>Cheers !</p>
                                        <button class="btn pull-right" data-dismiss="modal" aria-hidden="true">Close</button>

                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            {% endif %}



                        </p>
                    </div>
                </div>

            </div>

        </div>


    {% if user == media.owner %}
        <br>
        <div class="row-fluid">
            <div class="span12">
                <legend>{% trans "Pending requests" %}</legend>

                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>User</th>
                            <th>Comment</th>
                            <th>Answer</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for req in media_pending_request %}
                        <tr>
                            <td>{{ req.date_status_updated }}</td>
                            <td>{{ req.borrower }}</td>
                            <td>{{ req.message }}</td>
                            <td>
                                {% include "friendlib/snippets/mediarequest_actions.html" %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr><td colspan=4>{% trans "No requests" %}</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row-fluid">
            <div class="span12">
                <legend>{% trans "Activity" %}</legend>

                <table class="table table-condensed table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>User</th>
                            <th>Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for req in media_history_request %}
                        <tr>
                            <td>{{ req.date_status_updated }}</td>
                            <td>{{ req.borrower }}</td>
                            <td>{{ req.owner_short_status }} {{ req.html_link }}</td>
                        </tr>
                    {% empty %}
                        <tr><td colspan=3>{% trans "No history." %}</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
              </div>
        </div>
    {% endif %}

    </div>




{% endblock content %}
