{% extends "friendlib/base.html" %}
{% load i18n %}

{% block content %}
    <div class="span12 well">
        <div class="row-fluid">
            <div class="span8">
                <legend>{{ book.title }}</legend>
            </div>
            <div class="span2">
                {% if user == book.owner %}
                    <p class="pull-left alert alert-success">
                        {% trans "You're the owner." %}
                    </p>
                {% else %}
                    <p class="pull-left">
                        {% trans "Owner is" %} <a href="#">{{ book.owner }}</a>
                    </p>
                {% endif %}
            </div>
            <div class="span2 alert alert-info">
                {{ book.borrowed_status }}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span4">
                <img src="{{ MEDIA_URL }}img/160x200.gif" alt="">
            </div>
            <div class="span8">
                {% block media_detail %}

                {% endblock %}
            </div>

            <div class="span12">
                <p class="pull-right">

                    {% if user.is_authenticated %}
                        {% if user == book.owner %}
                            <a href="{% url book_delete book.pk %}" class="btn btn-danger">Delete</a>
                            <a href="{% url book_update book.pk %}" class="btn btn-warning">Edit</a>
                        {% endif %}
                    {% endif %}
                
                    <a href="{% url mediarequest_create book.pk %}" class="btn btn-success">Request</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}