{% load i18n %}

<div id="media" class="light-box">
    <div id="description">
        <label>{% trans "Type:" %}</label><span>{{ media.specialization_type }}</span><br>
        <label>{%  trans "Title: " %}</label><span>{{ media.title }}</span><br>
        {% if media.description %}
        <label>{% trans "Description: " %}</label><span>{{ media.description }}</span><br>
        {% endif %}
        <label>{% trans "Owner: " %}</label><span>{{ media.owner }}</span><br>
    </div>
    <div id="actions">
        <a href="{% url book_detail media.pk %}">{% trans "View" %}</a>
        {% if user.is_authenticated %}
            {% if user == media.owner %}
                {# TODO: Ici mettre en place le "row-level-permission" #}
                {# TODO: Faire attention au type du Media !!! Passer par les permalink ? #}
                {# ---> Le user doit aussi être proprietaire du media pour l'editer ! #}
                <a href="{% url book_update media.pk %}">{% trans "Edit" %}</a>
                <a href="{% url book_delete media.pk %}">{% trans "Delete" %}</a>
            {% else %}
                <a href="{% url mediarequest_create media.pk%}">{% trans "Request this stuff !" %}</a>
            {% endif %}
         {% else %}
            <a href="#">{% trans "Want to borrow ?" %}</a>
        {% endif %}
    </div>
</div>
