{% extends "friendlib/media/media_create.html" %}
{% load i18n %}

{% block media_create %}
    <legend>{% trans "Create new book" %}</legend>

	<form class="form-horizontal" method="POST" action="{% url book_create %}">{% csrf_token %}
        <legend>Edit</legend>
        {% include "friendlib/snippets/media_form_field.html" with field=form.title %}

        {% include "friendlib/snippets/media_form_field.html" with field=form.description %}

        {% include "friendlib/snippets/media_form_field.html" with field=form.author %}

        {% include "friendlib/snippets/media_form_field.html" with field=form.size %}

        {% include "friendlib/snippets/media_form_field.html" with field=form.nb_pages %}

    
        {# Hidden fields #}
        {{ form.specialization_type }}
        {{ form.owner }}
		<input class="btn btn-primary" type="submit" value="{% trans "Create" %}" />
	</form>
{% endblock media_create %}

{% block js %}
    $('form#websearch > a#go').click(function() {
        query = $('form#websearch > input#query').val();
        csrf = $('form#websearch input[name=csrfmiddlewaretoken]').val();
        alert(csrf);
        $('#websearch_result').load(
            '{% url book_websearch %}',
            {
                'query': query,
                'csrfmiddlewaretoken': csrf,
            },
            function() {
                m = 'Load was performed with ' + query;
            }
        );
    });

{% endblock %}
