{% extends "friendlib/media/media_create.html" %}
{% load i18n %}

{% block media_create %}
    <legend>{% trans "Create new book" %}</legend>

    <hr>
        <div id="websearch" class="form-search" style="padding-bottom: 15px;">{% csrf_token %}
            <label>Search a book on internet ...</label>

            <input id="query" type="input-search">
            <a id="go" class="btn">Search</a>
        </div>

        <div id="websearch_result">
{% comment %}
TODO: Make search results align on the bottom, limit length of the title
<ul class="thumbnails"><li class="span2"><a id="load_details" web_id="hWByX5-c5SIC" href="#"><img src="/media//img/book_default.jpg">Alice's Adventures in Wonderland - Lewis Carroll</a></li><li class="span2"><a id="load_details" web_id="4S9lqLKg2A0C" href="#"><img src="/media//img/book_default.jpg">Alice Munro - Coral Ann Howells</a></li><li class="span2"><a id="load_details" web_id="teTS-_J6dskC" href="#"><img src="/media//img/book_default.jpg">Alice - Stacy A. Cordery</a></li><li class="span2"><a id="load_details" web_id="IvFkk1JSxz4C" href="#"><img src="/media//img/book_default.jpg">Alice Hamilton - Barbara Sicherman</a></li><li class="span2"><a id="load_details" web_id="uztS1-M40uQC" href="#"><img src="/media//img/book_default.jpg">Alice Walker - Maria Lauret</a></li></ul>
{% endcomment %}
{#            <ul class="thumbnails">#}
{#                <li class="span2">#}
{#                    <a id="load_details" web_id="7680123456" href="#"><img src="/gbooks/example/img/medecin.jpg"/></a>#}
{#                    <a href="#">Le medecin de campagne</a>#}
{#                </li>#}
{#                <li class="span2"><img src="/gbooks/example/img/book21.jpg"/><a href="#">The Royal Tour</a></li>#}
{#                <li class="span2"><img src="/gbooks/example/img/books18.jpg"/><a href="#">Balzac</a></li>#}
{#                <li class="span2"><img src="/gbooks/example/img/books18.jpg"/><a href="#">Balzac</a></li>#}
{#                <li class="span2"><img src="/gbooks/example/img/books18.jpg"/><a href="#">Balzac</a></li>#}
{#                <li class="span2"><img src="/gbooks/example/img/books18.jpg"/><a href="#">Balzac</a></li>#}
{#            </ul>#}
        </div>
    
    <hr>
	<form class="form-horizontal" method="POST" action="{% url book_create %}">{% csrf_token %}
        <legend>Edit</legend>
        <div id="load"></div>
        <div id="fields">
        {% include "friendlib/snippets/media_form_field.html" with field=form.title %}

        {% include "friendlib/snippets/media_form_field.html" with field=form.description %}

        {% include "friendlib/snippets/media_form_field.html" with field=form.author %}

        {% include "friendlib/snippets/media_form_field.html" with field=form.size %}

        {% include "friendlib/snippets/media_form_field.html" with field=form.nb_pages %}
        </div>

    
        {# Hidden fields #}
        {{ form.specialization_type }}
        {{ form.owner }}
		<input class="btn btn-primary" type="submit" value="{% trans "Create" %}" />
	</form>
{% endblock media_create %}

{% block js %}
    $.fn.spin = function(opts) {
      this.each(function() {
        var $this = $(this),
            data = $this.data();

        if (data.spinner) {
          data.spinner.stop();
          delete data.spinner;
        }
        if (opts !== false) {
          data.spinner = new Spinner($.extend({color: $this.css('color')}, opts)).spin(this);
        }
      });
      return this;
    };

    var opts = {
      lines: 13, // The number of lines to draw
      length: 7, // The length of each line
      width: 4, // The line thickness
      radius: 10, // The radius of the inner circle
      corners: 1, // Corner roundness (0..1)
      rotate: 0, // The rotation offset
      color: '#000', // #rgb or #rrggbb
      speed: 1, // Rounds per second
      trail: 60, // Afterglow percentage
      shadow: false, // Whether to render a shadow
      hwaccel: false, // Whether to use hardware acceleration
      className: 'spinner', // The CSS class to assign to the spinner
      zIndex: 2e9, // The z-index (defaults to 2000000000)
      top: 'auto', // Top position relative to parent in px
      left: 'auto' // Left position relative to parent in px
    };

    $.ajaxSetup({
        timeout: 5000,
        error: function(event, request, settings){
            alert("Oops!");
        }
    });

    function websearch() {
        /* Show loading animation */
        $('#websearch_result').spin();

        query = $('#websearch > input#query').val();
        csrf = $('#websearch input[name=csrfmiddlewaretoken]').val();
        console.log("Search with " + query);
        $('#websearch_result').load(
            '{% url book_websearch %}',
            {
                'action': 'search',
                'query': query,
                'csrfmiddlewaretoken': csrf,
            },
            function (responseText, textStatus, req) {
                if (textStatus == "error") {
                    alert("An error occured ...");
                    $('#websearch_result').spin(false);
                    return "oh noes!!!!";
                }
                m = 'Load was performed with ' + query;
                $('a#load_details').click(function() {
                    var web_id = $(this).attr('web_id');
                    load_details(web_id);
                });
            }
        );
    }
    
    function load_details(web_id) {
        /* Show loading animation */
        $('#load').show().spin();
        $('#fields').hide();

        /* Load infos for this particular book ... */
        base_url = '{% url book_websearch_detail 0 %}'
        url = base_url.replace('/0/', '/'+web_id+'/')

        $.getJSON(
            url,
            function(json, textStatus, jqXHR) {
                console.log(json, textStatus, jqXHR);
                $('#id_title').val(json['title']);
                $('#id_description').val(json['description']);
                $('#id_author').val(json['authors']);
                $('#id_size').val(json['size']);
                $('#id_nb_pages').val(json['nb_pages']);
                $('#fields').show();
                $('#load').hide();
            }
        );
    };

    
    $('#websearch > a#go').click(websearch);
    /* TODO: Find how to handle the enter key only for input and use <form> for #websearch */
{#    $('#websearch > input#query').click(function(event) {#}
{#        event.preventDefault();#}
{#        websearch();#}
{#    });#}


{% endblock %}
