{% extends "friendlib/media/media_edit.html" %}
{% load i18n %}

{% block media_edit %}
	<form enctype="multipart/form-data" method="POST" action="{% url book_update book.pk %}">{% csrf_token %}
		<h2>{% trans "Edit book" %}</h2>

        {% include "friendlib/snippets/media_form_field.html" with field=form.title %}

        {% include "friendlib/snippets/media_form_field.html" with field=form.description %}

        <img id="thumbnail_preview" src=""/>
        {% with field=form.thumbnail %}
            {% if field.errors %}
            <div class="control-group error">
            {% else %}
            <div class="control-group">
            {% endif %}

                <label class="control-label">{{ field.label }}</label>
                <div class="controls">
                    <input type="radio" name="thumbnail_type" value="url"><input name="thumbnail_url" id="id_thumbnail_url" type="text"><br>
                    <input type="radio" name="thumbnail_type" value="local">{{ field }}

                {% if field.errors %}
                    {% for error in field.errors %}
                    <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                {% endif %}

                </div>
            </div>
        {% endwith %}
    
        {% include "friendlib/snippets/media_form_field.html" with field=form.author %}

        {% include "friendlib/snippets/media_form_field.html" with field=form.size %}

        {% include "friendlib/snippets/media_form_field.html" with field=form.nb_pages %}


        {# Hidden fields #}
        {{ form.specialization_type }}
        {{ form.owner }}
		<input class="btn btn-success pull-right" type="submit" value="{% trans "Save" %}" />
	</form>


{% endblock media_edit %}