{% extends "friendlib/base.html" %}
{% load i18n %}

{% block header %}
    <h1>Homepage</h1><h2>My account</h2>
{% endblock %}

{# Base outline for public page(s) #}

{% block container %}
    {{ block.super }}

    <div id="user-nav" class="box">

    <p>
        <table>
            <thead>
                <tr>
                    <th>{% trans "Medias que je veux emprunter:" %}</th>
                    <th>{% trans "Status" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for req in requests_medias_i_want %}
                <tr>
                    <td>{{ req }}</td>
                    <td>{{ req.status }}</td>
                </tr>
            {% empty %}
                <tr><td>{% trans "Pas de requetes !" %}</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </p>

    <p>
        <table>
            <thead>
                <tr>
                    <th>{% trans "Medias que je veux emprunter et qu'il faut que j'aille chercher !:" %}</th>
                    <th>{% trans "Status" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for req in requests_medias_i_want_and_accepted %}
                <tr>
                    <td>{{ req }}</td>
                    <td>{{ req.status }}</td>
                </tr>
            {% empty %}
                <tr><td>{% trans "Pas de requetes !" %}</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </p>

    <p>
        <table>
            <thead>
                <tr>
                    <th>{% trans "Medias empruntés que j'ai chez moi actuellement:" %}</th>
                    <th>{% trans "Date de retour prévue" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for req in medias_i_borrowed %}
                <tr>
                    <td>{{ req.media }}</td>
                    <td>{{ req.date_return_due }}</td>
                </tr>
            {% empty %}
                <tr><td>{% trans "Pas de requetes !" %}</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </p>

    </div>

    <div id="user-nav" class="box">
    <p>
        <table>
            <thead>
                <tr><th>{% trans "Mes Medias à moi qu'on veut m'emprunter:" %}</th></tr>
            </thead>
            <tbody>
            {% for req in requests_for_my_medias_pending %}
                <tr>
                    <td>{{ req }}</td>
                    <td><a href="{% url mediarequest_accept req.pk %}">{% trans "Accept/Deny" %}</a></td>
                </tr>
            {% empty %}
                <tr><td>{% trans "Pas de requetes !" %}</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </p>

    <p>
        <table>
            <thead>
                <tr><th>{% trans "Mes Medias à moi que j'ai accepter de prêter, mais qui sont encore chez moi:" %}</th></tr>
            </thead>
            <tbody>
            {% for req in requests_ive_accepted_but_still_home %}
                <tr>
                    <td>{{ req }}</td>
                    <td><a href="{% url mediarequest_set_borrowed req.pk %}">{% trans "Set to borrowed !" %}</a></td>
                </tr>
            {% empty %}
                <tr><td>{% trans "Aucuns !" %}</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </p>

    <p>
        <table>
            <thead>
                <tr><th>{% trans "Mes Medias à moi que j'ai prêté ... on doit me les rendre un jour !" %}</th></tr>
            </thead>
            <tbody>
            {% for req in requests_ive_accepted_and_borrowed %}
                <tr>
                    <td>{{ req }}</td>
                    <td><a href="{% url mediarequest_set_back req.pk %}">{% trans "Say it's back !" %}</a></td>
                </tr>
            {% empty %}
                <tr><td>{% trans "Aucun Media en dehors de chez toi !" %}</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </p>

    </div>



{#    <div id="user-nav" class="box">#}
{#        <a href="#">Messagerie</a>#}
{#        <a href="#">Demandes de prêts amis / autres</a>#}
{#    </div>#}

{##}
{#    <div id="mini-library" class="box">#}
{#        <p>#}
{#            <b>Ma bibliothèque !</b><br>#}
{#        </p>#}
{#        <p>#}
{#            Mini dessin de ma bibliothèque !!! En cliquant dessus, on peut tout y faire héhéhé#}
{#        </p>#}
{#        <p>#}
{#            <a href="#">+ Ajout média</a>#}
{#        </p>#}
{#    </div>#}
    
    <div id="content" class="box">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

{% block content-header %}
    {{ block.super }}
{% endblock content-header %}


{% block content-main %}
    {{ block.super }}
{% endblock content-main %}
