{% extends "friendlib/base.html" %}
{% load i18n %}

{% block header %}
    <h1>Homepage</h1><h2>My account</h2>
{% endblock %}

{# Base outline for public page(s) #}

{% block container %}
    {{ block.super }}
    <div id="user-nav" class="box">
    <p>
        <table>
            <thead>
                <tr><th>{% trans "Medias qu'on veut m'emprunter:" %}</th></tr>
            </thead>
            <tbody>
            {% for req in requests_for_my_medias %}
                <tr>
                    <td>{{ req }}</td>
                    <td><a href="#">{% trans "Accept/Deny/etc..." %}</a></td>
                </tr>
            {% empty %}
                <tr><td>{% trans "Pas de requetes !" %}</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </p>
    <p>
        <table>
            <thead>
                <tr>
                    <th>{% trans "Medias que je veux emprunter:" %}</th>
                    <th>{% trans "Status" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for req in requests_medias_i_want %}
                <tr>
                    <td>{{ req }}</td>
                    <td>{{ req.status }}</td>
                </tr>
            {% empty %}
                <tr><td>{% trans "Pas de requetes !" %}</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </p>
    </div>

{#    <div id="user-nav" class="box">#}
{#        <a href="#">Messagerie</a>#}
{#        <a href="#">Demandes de prêts amis / autres</a>#}
{#    </div>#}

{##}
{#    <div id="mini-library" class="box">#}
{#        <p>#}
{#            <b>Ma bibliothèque !</b><br>#}
{#        </p>#}
{#        <p>#}
{#            Mini dessin de ma bibliothèque !!! En cliquant dessus, on peut tout y faire héhéhé#}
{#        </p>#}
{#        <p>#}
{#            <a href="#">+ Ajout média</a>#}
{#        </p>#}
{#    </div>#}
    
    <div id="content" class="box">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

{% block content-header %}
    {{ block.super }}
{% endblock content-header %}


{% block content-main %}
    {{ block.super }}
{% endblock content-main %}
