{% extends "friendlib/private/base.html" %}
{% load i18n %}


{% block title %}
    {{ block.super }}
    | Homepage
{% endblock %}


{% block content %}
        <div class="span12 well">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{% url user_home %}">Home</a></li>
                <li>
                    <a href="{% url user_medias %}">Medias</a>
                </li>
                <li><a href="{% url user_requests_incoming %}">Incoming requests</a></li>
                <li><a href="{% url user_requests_outgoing %}">My requests</a></li>
            </ul>

            <div class="row-fluid">
                <div class="span12">
                    <span class="pull-right" id="user_home_actions">
                        <a href="{% url user_detail user.username %}" class="btn btn-small btn-warning">View public profile</a>
                        {% include "friendlib/snippets/media_create_button.html" %}
                    </span>

                    <h3>Hello {{ user.username|capfirst }} !</h3>

                    <p>Today, you have {{ nb_book }} books, {{ nb_dvd }} dvd and {{ nb_boardgame }} boardgames in your library.</p>
                </div>
                <div class="span4">

                 </div>
            </div>

            <br>
        
            <div class="row-fluid">
                    <div class="span6">
                        <div class="">
                            <legend><small>People want your stuffs:</small></legend>
                            <ul>
                            {% for req in requests_incoming_pending %}
                                <li>{{ req.html_link }}</li>
                            {% empty %}
                                <li>{% trans "No entry." %}</li>
                            {% endfor %}
                            </ul>
                            {% if requests_incoming_pending %}
                                <a href="#" class="pull-right">{% trans "See more ..." %}</a>
                            {% endif %}
                        </div>

                        <div class="">

                            <legend><small>Check with those people to borrow your stuff:</small></legend>
                            <ul>
                            {% for req in requests_incoming_accepted %}
                                <li>{{ req.html_link }}</li>
                            {% empty %}
                                <li>{% trans "No entry." %}</li>
                            {% endfor %}
                            </ul>
                            {% if requests_incoming_accepted %}
                                <a href="#" class="pull-right">{% trans "See more ..." %}</a>
                            {% endif %}
                        </div>
                    </div>

                    <div class="span6">
                        <div class="">
                            <legend><small>Accepted requests:</small></legend>
                            <ul>
                            {% for req in requests_outgoing_accepted %}
                                <li>{{ req.html_link }}</li>
                            {% empty %}
                                <li>{% trans "No entry." %}</li>
                            {% endfor %}
                            </ul>
                            {% if requests_outgoing_accepted %}
                                <a href="#" class="pull-right">{% trans "See more ..." %}</a>
                            {% endif %}
                        </div>

                        <div class="">
                            <legend><small>Stuffs you should have back soon:</small></legend>
                            <ul>
                            {% for req in requests_outgoing_to_be_returned %}
                                <li>{{ req.html_link }}</li>
                            {% empty %}
                                <li>{% trans "No entry." %}</li>
                            {% endfor %}
                           </ul>
                        </div>
                    </div>
            </div>
        </div>

{% endblock %}
