{% extends "friendlib/private/base.html" %}
{% load i18n %}


{% block title %}
    {{ block.super }}
    | Homepage
{% endblock %}


{% block content %}
    <div class="span12 well">
        <legend>{% trans "Request details" %}</legend>
        {# TODO: Faire un truc joli ici, avec les bouttons pour updater la requete et l'historique ... #}

        <div class="row-fluid">
            <div class="span3">
                {# Book thumbnail #}
                <img src="{{ MEDIA_URL }}/img/160x120.gif" class="pull-left">
                {{ mediarequest.media.html_link }}
            </div>
            <div class="span6">
                {# Current status #}
                {% if user == mediarequest.media.owner %}
                    {% include "friendlib/snippets/mediarequest_currentstatus_owner.html" %}
                {% else %}
                    {% include "friendlib/snippets/mediarequest_currentstatus_borrower.html" %}
                {% endif %}

            </div>
            <div class="span3">
                {# Borrower user thumbnail #}
                {% if user == mediarequest.media.owner %}
                    <img src="{{ MEDIA_URL }}/img/160x120.gif" class="pull-right">
                    <span class="pull-right">{{ mediarequest.borrower|capfirst }}</span>
                {% else %}
                    <img src="{{ MEDIA_URL }}/img/160x120.gif" class="pull-right">
                    <span class="pull-right">{{ mediarequest.media.owner|capfirst }}</span>
                {% endif %}
            

            </div>
        </div>


    
        <br>
        <legend>{% trans "History" %}</legend>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Activity</th>
                </tr>
            </thead>
            <tbody>
                {% if user == mediarequest.media.owner %}
                    {% for activity in mediarequest.owner_activity_history %}
                        <tr>
                            <td>{{ activity.date }}</td>
                            <td>{{ activity.label }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                   {% for activity in mediarequest.borrower_activity_history %}
                        <tr>
                            <td>{{ activity.date }}</td>
                            <td>{{ activity.label }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>

   </div>
{% endblock %}


