{% extends "friendlib/private/base.html" %}
{% load i18n %}


{% block title %}
    {{ block.super }}
    | My medias
{% endblock %}


{% block content %}
        <div class="span12 well">
            <ul class="nav nav-tabs">
                <li><a href="{% url user_home %}">Home</a></li>
                <li class="active">
                    <a href="{% url user_medias %}">Medias</a>
                </li>
                <li><a href="{% url user_requests_incoming %}">Incoming requests</a></li>
                <li><a href="{% url user_requests_outgoing %}">My requests</a></li>
            </ul>

            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <div class="span8">
                            <legend>Your medias</legend>
                        </div>
                        <div class="span4">
                            {% include "friendlib/snippets/media_create_button.html" %}
                            {% include "friendlib/snippets/search_toolbar.html" %}
                        </div>
                    </div>

                    {% include "friendlib/snippets/search_results.html" %}

                </div>
            </div>
        </div>

{% endblock %}

{% block js %}

    $('a#link_prev, a#link_next').each(function() {
        current_href = $(this).attr('href');
        href = current_href + "&owner={{ user.pk }}";
        $(this).attr('href', href);
        console.log(this, href)
    });

{% endblock %}