{% extends "friendlib/private/base.html" %}
{% load i18n %}


{% block title %}
    {{ block.super }}
    | Requests
{% endblock %}


{% block content %}
        <div class="span12 well">
            <ul class="nav nav-tabs">
                <li><a href="{% url user_home %}">Home</a></li>
                <li>
                    <a href="{% url user_medias %}">Medias</a>
                </li>
                <li class="active"><a href="{% url user_requests_incoming %}">Incoming requests</a></li>
                <li><a href="{% url user_requests_outgoing %}">My requests</a></li>
            </ul>

            <div class="row-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="row-fluid">
                            <div class="span12">
                                <legend>Pending requests of other users for my medias</legend>

                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Media</th>
                                            <th>User</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for req in requests_incoming_pending %}
                                        <tr>
                                            <td>{{ req.date_status_updated }}</td>
                                            <td>{{ req.media }}</td>
                                            <td>{{ req.borrower }}</td>
                                            <td>{{ req.owner_short_status }}</td>
                                            <td>
                                            {% include "friendlib/snippets/mediarequest_actions.html" %}
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr><td colspan=5>{% trans "No requests for your medias" %}</td></tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>



                <div class="row-fluid">
                    <div class="span12">
                        <div class="row-fluid">
                            <div class="span12">
                                <legend>Requests history</legend>

                            <table class="table table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Media</th>
                                    <th>User</th>
                                    <th>Activity</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for req in requests_incoming_history %}
                                <tr>
                                    <td>{{ req.date_status_updated }}</td>
                                    <td>{{ req.media }}</td>
                                    <td>{{ req.borrower }}</td>
                                    <td>{{ req }}</td>
                                </tr>
                            {% empty %}
                                <tr><td colspan=4>{% trans "No history." %}</td></tr>
                            {% endfor %}
                            </tbody>
                        </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
