{% extends "friendlib/private/base.html" %}
{% load i18n %}


{% block title %}
    {{ block.super }}
    | My medias
{% endblock %}


{% block content %}
        <div class="span12 well">
            <ul class="nav nav-tabs">
                <li><a href="{% url user_home %}">Home</a></li>
                <li>
                    <a href="{% url user_medias %}">Medias</a>
                </li>
                <li><a href="{% url user_requests_incoming %}">Incoming requests</a></li>
                <li class="active"><a href="{% url user_requests_outgoing %}">My requests</a></li>
            </ul>

            <div class="row-fluid">
                            <div class="span12">
								<div class="row-fluid">
									<div class="span12">
										<legend>Pending requests of me asking for other's media</legend>

										<table class="table table-hover">
											<thead>
												<tr>
													<th>Date</th>
													<th>Media</th>
													<th>User</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody>
                                            {% for req in requests_outgoing_pending %}
												<tr class="{{ req.css_class }}">
													<td>{{ req.date_status_updated }}</td>
													<td>{{ req.media }}</td>
													<td>{{ req.media.owner }}</td>
													<td>{{ req.borrower_short_status }}</td>
												</tr>
                                            {% empty %}
                                                <tr><td colspan=4>{% trans "No requests." %}</tr>
                                            {% endfor %}

											</tbody>
										</table>
									</div>
								</div>

							</div>

						</div>



						<div class="row-fluid">
							<div class="span12">
								<div class="row-fluid">
									<div class="span12">
										<legend>Requests history</legend>

									<table class="table table-condensed table-hover table-bordered">
									<thead>
										<tr>
											<th>Date</th>
											<th>Media</th>
											<th>Owner</th>
											<th>Activity</th>
										</tr>
									</thead>
									<tbody>
                                    {% for req in requests_outgoing_history %}
                                        <tr class="{{ req.css_class }}">
                                            <td>{{ req.date_status_updated }}</td>
                                            <td>{{ req.media }}</td>
                                            <td>{{ req.media.owner }}</td>
                                            <td>{{ req.borrower_short_status }}</td>
                                        </tr>
                                    {% empty %}
                                        <tr><td colspan=4>{% trans "No history." %}</td></tr>
                                    {% endfor %}
									</tbody>
								</table>
									</div>
								</div>

							</div>

						</div>
					</div>

{% endblock %}
