/* Extra style for Mediamis - extending bootstrap */
body {
    /*background: url("../img/sky.jpg") repeat-x scroll center top #D1EDFF;*/
    background: url("../img/noisy_grid.png") #E0E0E0;
    color: #333;
    font: 13px/1.5 verdana, sans-serif;
}

.baniere {
    margin-bottom: 20px;
}

.well {
  background-color: white;
}

.container {
    padding-top: 20px;
}

/* Owner and media location on search result look better*/
.alert {
    margin-left:5px;
    margin-right:5px;
    padding-right:14px;
}

/* Search bar will take good size */
input#id_keywords {
    width: 60%;
}

/* In user home page, for boxes title */
legend small {
    color: #333333;
}
/* In user home page, for View Public and Add new media buttons */
#user_home_actions {
    padding-top: 15px;
}

/* Nice padding between search results */
.media {
    padding: 20px;
}
/* Websearch results */
#websearch_result .media {
    margin-top: 0px;
}
#websearch_result .media-list > li {
    float: left
}