/* Extra style for Mediamis - extending bootstrap */
body {
    /*background: url("../img/sky.jpg") repeat-x scroll center top #D1EDFF;*/
    background: url("../img/noisy_grid.png") #E0E0E0;
    color: #333;
    font: 13px/1.5 verdana, sans-serif;
}

.baniere {
    margin-bottom: 20px;
}

.well {
  background-color: white;
}

.container {
    padding-top: 20px;
}

/* Owner and stuff look better*/
.alert {
    margin-left:5px;
    margin-right:5px;
    padding-right:14px;
}

/* Search bar will take good size */
input#id_keywords {
    width: 60%;
}

/* Search results stuffs ... */
.thumbnail-media {
    height: 200px;
}
.thumbnail-media .description {
    height:150px
}