{% extends "base.html" %}
{% load i18n %}

{% block header %}
    <h1>Homepage</h1>
{% endblock %}

{# Base outline for public page(s) #}

{% block container %}
    <div class="row-fluid">
        <div class="span12 baniere">
            <a href="{% url home %}" class="disabled">
                <div style="width:70%;height:100%;display:inline-block"></div>
            </a>

            <span id="login-box" class="pull-right">
                {% if user.is_authenticated %}
                    {% trans "You are connected as" %} <strong>{{ user.username }}</strong><br>
                    <a class="btn btn-info" href="{% url user_home %}">{% trans "My stuffs" %}</a>
                    <a class="btn btn-warning" href="{% url registration:logout %}">{% trans "Logout" %}</a>

                {% else %}
                    <form class="form-inline" method="post">{% csrf_token %}
                        <input type="text" class="input-small error" placeholder="Username" name="username">
                        <input type="password" class="input-small" placeholder="Password" name="password">
                        <button type="submit" class="btn">Sign in</button>

{% comment %}                        <label class="checkbox">
                            <input type="checkbox"> Remember me
                        </label>{% endcomment %}

                        {% if request.auth_form.errors %}
                        <p class="text-error error">
                            {% trans "Please enter a correct username and password. Note that both fields are case-sensitive." %}
                        </p>
                        {% endif %}
                    </form>
                {% endif %}

            </span>
        </div>
    </div>

    <div class="row-fluid">
    <div class="span12" id="main">
    <div class="row-fluid">

        <div class="span8">
            <div class="row-fluid">
                <div class="span12 ">
                    <form class="box form-search" method="GET" action="{% url search %}">
                        <label>{% trans "Search all media" %}</label>
                        {{ search_form.keywords }}
                        <button type="submit" class="btn">{% trans "Search" %}</button>
                    </form>
                </div>
            </div>

            {% block extraboxes %}
            {% endblock extraboxes %}

            <div class="row-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>


        <div class="span4">
            <div class="row-fluid">
                {% if user.is_authenticated %}
                    <div class="span12 box">
                        <legend>Last activity</legend>
                        <ul>
                        {% for activity in user_activity %}
                            <li>{{ activity.html_link }}</li>
                        {% empty %}
                            <li>{% trans "No activity." %}</li>
                        {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <div class="span12 box">
                        <p>
                            Currently <strong>{{ nb_users }} users</strong> registered,
                            for a total of <strong>{{ nb_medias }} medias</strong>, youhouhou !
                        </p>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
    </div>
    </div>

    <hr>
    <footer>
            <p>© Mediamis 2012</p>
      </footer>
{% endblock %}

{% block content-header %}
    {{ block.super }}
{% endblock content-header %}


{% block content-main %}
    {{ block.super }}
{% endblock content-main %}
