{% extends "base.html" %}
{% load i18n %}

{% block header %}
    <h1>Homepage</h1>
{% endblock %}

{# Base outline for public page(s) #}

{% block container %}

    <div id="main-title" class="box">
        <a href="{% url home %}">{% trans "Back to Home" %}</a>
        <p>Une belle image avec le nom du site, etc?</p>
    </div>

    <div id="login" class="box">
    {% if user.is_authenticated %}
        <p>
            {% trans "You are connected as" %}<br>
            <strong>{{ user.username }}</strong><br>
            <span id="hostname"></span><br>
{#            <a href="{% url registration:logout %}">{% trans "Logout" %}</a>#}
            <a href="{% url myaccount %}">{% trans "View my stuffs" %}</a>
            <a href="{% url registration:logout %}">{% trans "Logout" %}</a>


        </p>
    {% else %}
{#        {% include "friendlib/snippets/login_box.html" %}#}
        <div>
        {% include "registration/registration_form.html" %}
        </div>
    {% endif %}
    </div>

    <div id="introduction" class="box">
        <p>Un text qui explique le principe du site, etc ...</p>
    </div>

    <div id="search" class="box">
        <form method="GET" action="{% url search %}">
            <label>{% trans "Search in all media !" %}</label>
                {% include "friendlib/snippets/search_form.html" %}
            <input type="submit" value="{% trans "Search" %}" />
        </form>
    </div>

    {% if user.is_authenticated %}
        {% if user_last_activity %}
    <div id="user-news" class="box">
        <p>{% trans "Last activity" %}</p>
        <ul>
        {% for req in user_last_activity %}
            <li>{{ req }} ({{ req.date_status_updated }})</li>
        {% endfor %}
        </ul>
    </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content-header %}
    {{ block.super }}
{% endblock content-header %}


{% block content-main %}
    {{ block.super }}
{% endblock content-main %}
