{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mediamis{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ MEDIA_URL }}css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{ MEDIA_URL }}css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
    <link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" type="text/css" />

{#    <link href="http://soif.arcadio.info/mediamis/media/css/style.css" rel="stylesheet" type="text/css" />#}

    <style type="text/css">
        {% block css %}
        {% endblock %}
    </style>

    {% block head %}
    {% endblock head %}

</head>
<body>

<div class="container">

    {% block container %}
    {% endblock %}

</div>

    <script src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-dropdown.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
        {% block js %}
        {% endblock %}
    });
    </script>

    <script src="{{ MEDIA_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ MEDIA_URL }}js/spin.js"></script>


<!--
    <script src="{{ MEDIA_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-button.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-typeahead.js"></script>
    -->
</body>
</html>